/* reset */

a {color: #2a83c8;}

::selection {background: #2a83c8;}

.btn {
	background: #2a83c8;
	border-bottom-color: #226ea9;
}

.btn:hover {background: #226ea9;}

.form-input:focus {border-color: #2a83c8;}

/* template */

.logo {background: #2a83c8;}

.header-open .fa {color: #2a83c8;}

.header-contacts .email {color: #2a83c8;}

.breadcrumbs {color: #2a83c8;}

.pagination span.num {background: #2a83c8;}

/* content */

.home-form {
	background: #2a83c8;
	border-bottom: 5px solid #226ea9;
}

